.preloader {
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at center, #0b0b0b, #000);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.preloader h1 {
  color: #ffffff;
  font-size: clamp(3rem, 8vw, 3rem);
  font-weight: 500;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  display: flex;
}

.preloader span {
  display: inline-block;
}
