.home{
  background-image: url("../images/bg.png");
  background-size: cover;
 //background:linear-gradient(to bottom, #022333, #134e67);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 200vh;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .faq-section {
    margin: auto;
    max-width: 900px;

    h2 {
      padding-top: 20px;
      margin-bottom: 20px;
      font-size: 1.5rem;
      color: #002244;
    }

    details {
      background: #f8f9fc;
      border: 1px solid #d1d9e6;
      padding: 15px;
      margin-bottom: 12px;
      border-radius: 5px;

      summary {  
        cursor: pointer;
        font-weight: 600;
        color: #004080;
      }
 
      p {
        margin-top: 10px;
        line-height: 1.6;
        color:black;
      }
    }
  }
