.footer {
  background: #033a66;
  color: #ffffff;
  padding: 40px 80px;
  font-family: "Inter", sans-serif;
  margin-left: 100px;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-bottom: 40px;
  
}

.footer-col h4 {
  font-size: 16px;
  margin-bottom: 16px;
  font-weight: 600;
}

.footer-col a {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #ffffff;
  opacity: 0.9;
  text-decoration: none;
}

.footer-col a:hover {
  opacity: 1;
}

.footer-col p {
  font-size: 14px;
  line-height: 1.8;
  opacity: 0.9;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 20px;
}

.footer-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.social-icons {
  display: flex;
  gap: 18px;
  font-size: 20px;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 900px) {
  .footer {
    padding: 40px 20px;
  }

  .footer-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .footer-content {
    grid-template-columns: 1fr;
  }

  .footer-brand {
    flex-direction: column;
    gap: 15px;
  }
}
