.footer {
  background: #033a66;
  color: #fff;
  padding: 60px 50px;
  padding-left: 150px;
  border-radius: 15px;
  margin: 20px;

  .footer-top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;

    h4 {
      margin-bottom: 15px;
      font-size: 18px;
      font-weight: 600;
    }

    a {
      display: block;
      margin-bottom: 8px;
      color: #cfcde7;
      font-size: 15px;
      text-decoration: none;

      &:hover {
        color: #ffffff;
      }
    }
  }

  .footer-bottom {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    .footer-brand {
      max-width: 400px;

      .logo1 {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 10px;
      }

      p,
      a {
        font-size: 14px;
        margin-bottom: 5px;
        color: #cfcde7;
      }

      a:hover {
        color: #fff;
      }

      .social-icons {
        margin-top: 15px;
        display: flex;
        gap: 15px;
        font-size: 20px;
        cursor: pointer;

        svg:hover {
          color: #ffffff;
        }
      }
    }

    .footer-lang {
      background: #120632;
      padding: 8px 18px;
      border-radius: 25px;
      font-size: 14px;
      cursor: pointer;
    }
  }

  @media (max-width: 768px) {
    .footer-top {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 500px) {
    .footer-top {
      grid-template-columns: 1fr;
    }

    .footer-bottom {
      flex-direction: column;
      gap: 20px;
    }
  }
}
